<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/Asitha-Ben/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/Asitha-Ben">Home</a></li>
	        		<li><a href="/Asitha-Ben/software">Software</a></li>
	        		<li><a href="/Asitha-Ben/scenarios">Scenarios</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/asitha-kaduwela-8b259690/">Asitha Kaduwela</a></li>
	        		<li><a href="https://github.com/akaduwela">github.com/akaduwela</a></li>
			</ul>
			<ul>
	        		<li><a href="https://www.linkedin.com/in/ben-wood-ucla/">Ben Wood</a></li>
	        		<li><a href="https://github.com/bweezy">github.com/bweezy</a></li>
			</ul>
			</footer>
		</body>
	</html>
