<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/project-wearable-continuous-blood-pressure-monitoring-using-ppg/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/Asitha-Ben">Home</a></li>
	        		<li><a href="/Asitha-Ben">Software</a></li>
	        		<li><a href="/Asitha-Ben">Hardware</a></li>
				<li><a href="/Asitha-Ben">Flow</a></li>
				<li><a href="/Asitha-Ben">Results</a></li>
				<li><a href="/Asitha-Ben">Future</a></li>
				<li><a href="/Asitha-Ben">Data</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/asitha-kaduwela-8b259690/">Asitha Kaduwela</a></li>
	        		<li><a href="https://github.com/akaduwela">github.com/akaduwela</a></li>
			</ul>
			<ul>
	        		<li><a href="https://www.linkedin.com/in/yusi-ou-1433a99b/">Yusi Ou</a></li>
	        		<li><a href="https://github.com/yusiou">github.com/yusiou</a></li>
			</ul>
			</footer>
		</body>
	</html>
